/* HEADER */

#header{width:685px; height:238px; background: url(../images/b_header.jpg) 0 0 no-repeat; position:relative;}

#header img#slogan2{position:absolute; top:76px; left:19px}

/* content */

#content{width:685px; position:relative; background:#FFF}
#leftPan{width:179px; float:left; margin:26px 39px 0 19px; display:inline}

#welcome h2{height:40px; position:relative; background:url(../images/h_welcome.gif) 0 0 no-repeat; margin-bottom:8px}
#welcome img{margin:0 0 16px 4px }
#welcome p{margin-left:4px; margin-right:12px}
#welcome p.headline{margin-bottom:15px}
